a{
color: white;
}

h1{
color: white;
}
h2{
color: white;
}
h3{
color: white;
}
h4{
color: white;
}
h5{
color: white;
font-size: 90px;
}
body{
background: white;
background-size:cover;


}
.aa{

color:black;
background:none;
width:100%;
float:left;
}
.LogoMain{
width:50%;

}
.bb{

width: 100%;
}
.card{
background:none;
margin-top:40px;
margin-left:-15px;
}
.qwe{
color:white;
}
.navbar-brand{
margin-left:30px;
}
.qaws{
margin-top:50%;
background:none;

}
.photoaction{
margin-top:40px;
}
.navbar{
margin-top:0px;
background:black;
}
.navbar-brand{
font-size:50px;
font-weight:bold;
}
.nav-item{
margin-left:250px;
font-size:30px;
font-weight:bold;
}

.carousel{
margin-top:0px;
}

.carousel-item{
/*height:700px;*/
}
.jumbotron{
margin-top:10px;
margin-top:10px;
background:black;
padding:0;

}
.container{

}
.card{
height:30px;

}
.fffsss{
width:54%;
background:black;
float:left;
}


.Fona{
height:490px;
width:520px;;
overflow:hidden;
margin:0 auto;
margin-top:30px;

}
.data-gallery{
margin-bot:10px;
}
.pipec{
height:200px;
overflow:hidden;
}
.lp{
margin-top:5px;
}
.lp1{
margin-top:5px;
}
.onash1{
text-align:center;
}

.newsh2{
margin-top:140px;
text-align:center;

}
.jumbotron{
color:white;
}
.textareatop{
background:white;
color: black;
border: 1px solid black;
}
.minarea{
font-size:18px;
}
.videotron{
width:45%;
float:right;
margin-top:0px;

}
.icons3{
width:100%;
float:right;
}
.image3class{
width:10%;
margin-left:18%;

}
.jumbogreyvideo{
background:grey;
margin-top:-25px;
}
.onasarea{
background:white;
border:1px solid black;
color:black;
}
.contactonas{
text-align:center;
width:40%;
margin:0 auto;
}
.footer{
margin-top:20px;
}
.contactonas2{
width:100%;
float:left;
text-align:center;
}
@media screen and (max-width: 992px) { .fffsss{width:100%;} }
@media screen and (max-width: 992px) { .Fona{width:100%;} }
@media screen and (max-width: 992px) { .Fona{height:350px;} }
@media screen and (max-width: 992px) { .Fona{margin-top:30px;} }
@media screen and (max-width: 992px) { .lp{width:195px;} }
@media screen and (max-width: 992px) { .newsh2{margin-top:30px;} }
@media screen and (max-width: 992px) { .lp1{width:195px;} }
@media screen and (max-width: 992px) { .videotron{width:100%;} }
@media screen and (max-width: 992px) { .videotron{margin-top:10px;} }
