{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbogreyvideo">
<div class="jumbotron">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/LdEuIDDE4a4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="jumbotron">
<iframe width="100%" height="415" src="https://www.youtube.com/embed/VnSKa2TUJSw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="jumbotron">
    <iframe width="100%" height="415" src="https://www.youtube.com/embed/gcPTzDRh8rU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <div class="jumbotron">
<iframe width="100%" height="415" src="https://www.youtube.com/embed/96i-NaMoES4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="jumbotron">
        <iframe width="100%" height="415" src="https://www.youtube.com/embed/DvxAiZ2yemo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    <div class="jumbotron">
        </div>
    <div class="jumbotron">
        </div>
    <div class="jumbotron">
        </div>
    <div class="jumbotron">
        </div>
    <div class="jumbotron">
        </div>
        </div>

{% endblock %}